@media screen and (max-width: 1000px) {   
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    .text_centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .profile_photo {
        height: 40px;
        width: 40px;
    }

    .icon_block {
        display: inline-block;
    }

    .time_block {
        display: inline-block;
    }

    #callLogTable {
        width: 80%;
    }

    .callLogTable_row {
        line-height: 10px;
    }

    .grey {
        color: #808080;
    }

    .set_font {
        font-family: Sans-Serif;
        font-weight: normal;
        
    }

    .left {
        position: relative;
        top: -3px;
    }

    .right {
        position: relative;
        bottom: -3px;
    }

    .font_thin {
        font-weight: 300;
    }

    .font_size_small {
        font-size: 13px;
    }

    .font_size_big {
        font-size: 13px;
    }
    
    .detail_icon {
        height: 10px;
        width: 10px;
    }
}

@media screen and (min-width: 1001px) {   
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    .text_centered {
        font-weight: 300;
        font-size:13px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .profile_photo {
        height:40px;
        width:40px;
    }

    .icon_block {
        display: inline-block;
    }

    .time_block {
        display: inline-block;
    }

    .block_inline {
        display: inline-block;
    }

    .left {
        float: left;
    }

    .right {
        float: right;
        margin-right: 25%;
    }

    .callLogTable_row {
        line-height: 10px;
    }

    .grey {
        color: #808080;
    }

    .set_font {
        font-family: Sans-Serif;
        font-weight: normal;
        
    }

    .font_thin {
        font-weight: 300;
    }

    .font_size_small {
        font-size: 13px;
    }

    .font_size_big {
        font-size: 15px;
    }
    
    .detail_icon {
        height: 10px;
        weight: 10px;
    }

    #callLogTable {
        width:  60%;
    }
}
